<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DB_SERVER" value="ncc-db-srv.database.windows.net,1433"/>
		<add key="DB_USER" value="NccUser"/>
		<add key="DB_PASS" value="Ncc#1234"/>
		<add key="DB_NAME" value="NCCDB"/>
		<add key="DB_SCHEMA" value="kss_23200140"/>
	</appSettings>
</configuration>